.titulogrande{
    color: #590B10;
    /* h1/Bold */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.titulopequeno {
    color: #2B2B2B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.botaosalvar{
    border-radius: 10px;
    background: #2B8C64;
    height: 45px;
    padding: 10px 5rem;
    justify-content: center;
    align-items: center;
    border: #2B8C64;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.botaovoltar {
    border-radius: 10px;
    border: 1px solid #DACFCF;
    background: #FFF;
    height: 45px;
    padding: 10px 5rem;
    justify-content: center;
    align-items: center;
    color: #6B6B6B;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.fundocadastrar{
    border-radius: 10px;
    border: 1px solid var(#E6E6E6);
    box-shadow: 5px 3px 11px 0px rgba(106, 32, 44, 0.05);
    padding: 30px;
    width: 65%;
    margin: 0 auto;
    text-align: left
}

.boxcadastrar{
    border-radius: 5px;
    border: 0.5px solid #E6E6E6;
    width: 100%;
    padding: 3px;
}

.boxcadastrar2{
    border-radius: 5px;
    border: 0.5px solid var(#E6E6E6);
    width: auto;
    padding: 3px;
}

.textinho{
    color: #590B10;

    /* Pequeno/Pequeno */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botoessalvarvoltar{
    display: flex;
    justify-content: center;
    gap: 3rem;
}


.container-divisao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.box-dividido {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


