

.fundoheader {
    border-bottom: 2px solid #E6E6E6;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    max-height: fit-content;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.fonteheader {
    color: #590B10;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration:none;

}

.fonteheader:hover {
    color: #A1141D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration:none;
}

.fotouser {
    border-radius: 50%;
    width:40px;
    height:40px;
    margin-top: 5px
}

.navbar{
    margin-bottom: 0% !important;
}

.botaoinvisivel {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin: 10px;
}

.caixinhasetinha {
    color: #AE4959;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
}

.caixinhasetinha:hover{
    color: #A1141D;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
