/* Estilo para o cabeçalho (.fundoheader) */
.fundoheader {
    border-bottom: 2px solid #E6E6E6;
    background: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra mais sutil em telas menores */
    max-height: 5%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap; /* Permitir que elementos quebrem para a próxima linha em telas menores */
}

/* Estilo para o texto do cabeçalho (.fonteheader) */
.fonteheader {
    color: #590B10;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-right: 10px;
}

/* Estilo para o texto do cabeçalho em hover */
.fonteheader:hover {
    color: #A1141D;
}

/* Estilo para a imagem do usuário (.fotouser) */
.fotouser {
    border-radius: 50%;
    width:40px;
    height:40px;
    margin-top: 5px
}

.fotoUserAuth {
    border-radius: 50%;
    width:50px;
    height:50px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 2px;
}

.navbar{
    margin-bottom: 0% !important;
}

/* Estilo para o botão invisível (.botaoinvisivel) */
.botaoinvisivel {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 10px;
}

/* Estilo para a caixinha com a setinha (.caixinhasetinha) */
.caixinhasetinha {
    color: #AE4959;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
}

/* Estilo para a caixinha com a setinha em hover */
.caixinhasetinha:hover {
    color: #A1141D;
}

/* Estilo para o container fluid (.container-fluid) */
.container-fluid {
    flex-wrap: wrap !important; /* Permitir que elementos quebrem para a próxima linha em telas menores */
}
