

.fundoheader {
    border-bottom: 2px solid #E6E6E6;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    top: 0;
    left: 0;
    right: 0;
    max-height: fit-content;
    padding: 10px 5% 1% 5%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.fonteheader {
    color: #590B10;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration:none;

}

.fonteheader:hover {
    color: #A1141D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration:none;
}

.fotouser {
    border-radius: 50%;
    width:40px;
    height:40px;
    margin-top: 5px
}
