
    .botao {
      border: none;
      color: white;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      width: 20%;
      height: 123px;
      left: 193px;
      top: 249px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      min-width: 200px;
      background: #FFF3F4;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
      margin-bottom: 30px;
      border-radius: 20px;
    }

    .botao:hover{
        transform: scale(1.08);
    }

    .botao-maior {
        border: none;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        width: 20%;
        height: 123px;
        left: 193px;
        top: 249px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        min-width: 200px;
        background: #FFF3F4;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
        margin-bottom: 30px;
        border-radius: 20px;
        padding: 5px;
      }
  
      .botao-maior:hover{
          transform: scale(1.08);
      }

    .container {
        min-height: calc(85vh - 100px); /* Subtract the footer height from the viewport height */
        display: flex;
        flex-direction: column;
      }

    .title {
        font-style: normal;
        padding-top: 38px;
        font-weight: 700;
        text-align:start ;
        font-size: 35px;
        line-height: 41px;
        color: #131833;
    }

    .second-title {
        font-style: normal;
        padding-top: 38px;
        font-weight: 700;
        text-align:center;
        font-size: 35px;
        line-height: 41px;
        color: #590B10;
    }

    .third-title {
        margin: auto;
        padding-right: 5px;
        color: #972E3F;
    }

    .buttons-organization {
        display:flex;
        flex-wrap:wrap;
        align-items:center;

    }

    .buttons-organization.-orientador {
        padding: 0 10% 0 12%;
        justify-content: flex-start;
        gap: 5%;
    }

    .buttons-organization.-aluno {
        padding: 0 10% 0 12%;
        justify-content: flex-start;
        gap: 5%;
    }

    .buttons-organization.-gestor{
        padding: 0 10% 0 12%;
        justify-content: flex-start;
        gap: 5%;
    }

    .buttons-organization.-adm{
        justify-content: space-evenly;
    }
