
.titulomodal {
    color: var(#2B2B2B);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.cancelarmodalbotao{
    border-radius: 6.238px;
    border: 0.74px solid #DC574E;
    background: #FFF;
    height: 45px;
    padding: 10px 4rem;
    justify-content: center;
    align-items: center;
    color: #DC574E;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.apagarmodalbotao{
    border-radius: 6.238px;
    border: 0.74px solid #DC574E;
    background: #DC574E;
    height: 45px;
    padding: 10px 4rem;
    justify-content: center;
    align-items: center;
    color: var(--branco, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 14.79px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.fundomodaldelete {
    border-radius: 14px;
    border: 1px solid #FDF6F5;
    background: var(--branco, #FFF);
    padding: 5% 8% 5% 8%;
}
