body{
  color: #19395F; 
  margin: 0px;
}

.certificado{
  float: right;
  margin-left: 190px;
}

.head{
  font-size: 20px;
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.title{
  font-size: 70px;
  text-align: right;
  font-weight: bold;
  margin-right: 30px;
}

.text{
  font-size: 23px;
  margin-left: 30px;
  margin-right: 30px;
}

.cidade{
  margin-right: 30px;
  text-align: right;
}

.assinaturas{
  margin-top: 125px;
  text-align: center;
}

.assinatura-coord{
  margin-top: 0px;
  text-align: center;
  margin-left: 45px;
  float: left;
}

.assinatura-reit{
  margin-top: 0px;
  text-align: center;
  margin-right: 45px;
  float: right;
}

.line-ass{
  width: 400px;
  margin-bottom: 0px;
}

.line{
  margin-top: 0px;
  border: none;
  border-top: 3px solid #19395F;
}

.lateral{
  position: relative;
  background-color: #19395F;
  height: 100%;
  width: 190px;
  float: left;
  color: white;
}

.footer{
  font-size: 12px;
  text-align: center;
  margin-top: 770px;
}

.ufape{
  font-size: 170px;
  font-weight: bold;
  position: absolute;
  color: #16365D;
  width: 100%;
  margin-top: 450px;
  transform: rotate(-90deg)
}

.logo{
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  margin-bottom: 5px
}